/*defaults*/
body,
.notification,
.nav-bar,
.nav-bar ul {
  margin: 0;
}

nav {
  position: sticky;
  z-index: 22;
  top: 0px;
  left: 0px;
}

/*notification*/

nav .notification span {
  flex-grow: 1;
}

.notification {
  background-color: #f0e36f;
  padding: 8px;
  display: flex;
}

nav .notification p {
  text-align: center;
  margin: 3px;
  font-size: 15;
}

nav .notification p + p {
  margin: 0;
  text-align: center;
  font-size: 20;
}

.hidden-notification {
  transition: 0.5s;
  overflow: hidden;
  height: 0;
}

#close-notification {
  color: black;
  background-color: transparent;
  border: none;
}

#close-notification:hover {
  color: white;
}

/*navigation bar*/

nav .nav-bar {
  padding: 8px 6px;
  background-color: white;
  display: flex;
  gap: 8px;
  /* justify-content: space-between; */
  text-align: center;
  align-items: center;
  box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.144);
}

nav .nav-bar ul li {
  display: inline-block;
}

nav .nav-bar img.udemy-logo {
  height: 25px;
  object-fit: cover;
}

nav .icon {
  height: 20px;
  width: 20px;
}

nav .icon:hover {
  cursor: pointer;
  color: rgb(168, 11, 168);
}

nav .icon.menu,
nav .icon.search {
  display: none;
  width: 25px;
}

form {
  flex-grow: 1;
  gap: 5px;
  display: flex;
}

nav form input {
  flex-grow: 1;
  border-radius: 12px;
  border: 1px solid black;
  background-color: #eee;
  padding: 10px 6px;
}

nav .nav-bar a {
  color: black;
  font-size: 13px;
  text-decoration: none;
}

nav .nav-bar a:hover {
  color: rgb(168, 11, 168);
}

/*buttons*/

.nav-button {
  padding: 10px 4px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
  color: black;
  font-weight: 600;
  transition: 0.3s;
}

.nav-button.search {
  align-self: center;
}

.nav-button.signup {
  background-color: black;
  color: white;
}

.nav-button:hover {
  cursor: pointer;
  transition: 0.3s;
}

.nav-button.login:hover,
.nav-button.search:hover {
  background-color: black;
  color: white;
}

.nav-button.signup:hover {
  background-color: white;
  color: black;
}

/*responsive*/

@media screen and (max-width: 680px) {
  nav .icon.menu,
  nav .nav-bar .icon.language {
    display: inline;
    width: 25px;
  }

  nav .nav-bar a.item-in-nav {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  nav .nav-bar .item-in-nav {
    display: none;
  }

  nav .nav-bar .icon.menu,
  nav .nav-bar .icon.search,
  nav .nav-bar .icon.language,
  nav .nav-bar .udemy-logo {
    display: inline;
  }
  nav .nav-bar .item-in-nav.empty-space {
    display: inline;
    flex-grow: 1;
  }

  nav .nav-bar {
    padding: 10px 10px;
  }
}
